/*
 * Empty Stylesheet file.
 */

.background {
    -fx-background-color: #1d1d1d;
}

.main-panel {
    -fx-background-image: url("../images/gray.png");
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Garamond";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#180923, #180923);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-base: #395bae;
}

